:root {
  --main-font: "Josefin Sans", sans-serif;
  --main-font-color: #000;
  --main-background: #faf3dd;
}
* {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}
/* nav custom styles */
.navbar {
  background-color:var(--main-background);
}

.navbar-nav {
  margin-left: auto !important;
  margin-right: 0 !important;
  padding: 25px;
}

.nav-link {
  font-size: 28px;
  font-family: var(--main-font);
  color: #000 !important;
}

.nav-link:hover {
  text-decoration: underline;
  color: #618985 !important;
  font-size: 38px;
}

/* hero section */
span {
  display: block;
}

.profile-picture {
  max-height: 600px;
  border-radius: 70%;
  float: right;
  padding-left: 25px;
  padding-right: 25px;
}

.jumbotron{
  background-color: var(--main-background) !important;
  margin-bottom: 0;
}
.hero-container {
  display: inline-block;
  padding: 25px;
  background-color: var(--main-background) !important;
}

.hero-section{
  background-color:var(--main-background) !important;
}
h1 {
  font-size: 52px;
  padding-bottom: 50px;
}

p {
  font-size: 28px;
  padding-top: 25px;
}

/* my projects section */
h2{
  padding: 25px 0px 30px;
  font-size: 42px;
}
.project-container {
  background-color: #618985;
} 
.card{
  max-height: auto;
  border: none;

}

.card img {
  width:100%;
  max-height: 600px;
  object-fit: cover;
  object-position: top;
}

h2{
  font-size: 32px;
}

/* footer section */
footer{
  background-color:var(--main-background);
  height: 100px;
  padding-top: 25px;
}
.footer-img{
  width: 40px;
  height: 40px;
  margin: 5px;
  

}
footer h2 {
  display: inline;
  padding-right: 25px;
}

footer a :hover{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}