:root{
    --main-font:'Josefin Sans', sans-serif;
    --main-font-color:#000;
    --main-background:#FAF3DD;
}

/* nav custom styles */
.navbar{
    background-color:#FAF3DD;
}
 .navbar-nav{
    margin-left:auto !important;
    margin-right: 0 !important;
    padding: 25px;
 }

 .nav-link{
    font-size:28px;
    font-family:var(--main-font);
    color: #000 !important;
}

.nav-link:hover{
    text-decoration: underline;
    color:#618985 !important;
    font-size: 38px;
}

/* hero section */
span{
    display: block;
}
.profile-picture{
    max-height: 600px;
    border-radius: 70%;
    float:right;
    padding-left: 25px;
    padding-right: 25px;
}
.jumbotron{
    background-color: var(--main-background);
}
.hero-container{
    display:inline-block;
    padding: 25px;
}
h1{
    font-size: 52px;
    padding-bottom: 50px;
}

p{
    font-size: 28px;
}